<div id="conta" class="flex items-center flex-col bg-black">
  <div class="w-[350px] h-24 mt-2 overflow-hidden mb-1 border rounded-3xl p-2 relative">
    <form [formGroup]="postForm" (ngSubmit)="registerPost()">

      <textarea formControlName="caption" class="top-0 p-2 left-0 bottom-0 right-0 absolute"></textarea>
      <button type="submit" class="absolute bottom-2 right-2 bg-blue-300 p-1 rounded-lg">Post</button>
      <input  (change)="onFileSelected($event)" type="file" name="postImage" id="postImage" class="absolute bottom-2 left-2 bg-slate-500 p-1 w-2/3 rounded-lg">
    </form>
  </div>
  @for (post of posts(); track post.id) {
    <div class="post max-w-[350px] mb-0.5 border rounded-3xl bg-slate-50 p-2">
      <div class="auth flex items-center">
        <div class="w-10 h-10">
          <img [src]="post.mediaurl" alt="" class="w-10 h-10 rounded-full" />
        </div>
        <h1>{{ post?.cxUser?.username }}</h1>
        <p>@user123</p>
      </div>

      <div>
        <p>
          {{ post.caption }}
        </p>
        <img [src]="post.mediaurl" alt="" class="" />
      </div>
      <div class="interactions flex mt-3 gap-3">
        <p>
          Likes <span class="font-bold">{{ post.cxLikes?.length ?? 0 }}</span>
        </p>
        <p>
          Comments <span class="font-bold">{{ post.cxComments?.length ?? 0 }}</span>
        </p>
      </div>
      @if (post.id == activeId) {
        <div [ngClass]="{ hidden: textareaHidden }">
          <form action="">
            <div class="relative">
              <textarea
                name="comment"
                placeholder="comment..."
                class="border w-full rounded-2xl p-3"
                [formControl]="comment"
              ></textarea>
              <button class="absolute bottom-3 right-2">Comment</button>
            </div>
          </form>
        </div>
      }
      <div class="buttons flex">
        <ol class="flex items-center justify-around mt-3 w-full">
          <li><i class="fa-regular fa-comment" (click)="goToPost(post?.id ?? '')"></i></li>
          <li><i class="fa-solid fa-retweet"></i></li>
          <li (click)="getPostById(post.id ?? '')">
            <i class="fa-regular fa-heart"></i>
          </li>
          <li><i class="fa-regular fa-bookmark"></i></li>
          <li><i class="fa-solid fa-upload"></i></li>
        </ol>
      </div>
    </div>
  }
</div>
